.container {
  display: grid;
  grid-template-areas:
    "header header"
    "body body"
    "footer footer";
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 3fr 1fr;
  gap: 5px;
  padding: 5px;
  height: 100vh;
}

.mainContainer{
    display: flex;
    grid-area: body;

}