*,
*::after,
*::before {
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar{
    display: none;
}

:root{
    /*Paddings, Margins*/
    --xs: 8px;
    --s: 12px;
    --sm: 16px;
    --md: 24px;
    --lg: 32px;
    --xl: 40px;

    /*Fonts*/

    /*Font weights*/
}