.sideBar{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  width: 20%;
  background-color: var(--light-gray-2);
  color: #fff;
  padding: 16px;
}

.menuCustom {
  height: 100%;
  border-right: 0 !important;
  background-color: var(--light-gray-2) !important;
  color: #fff !important;
    flex: 1; /* розтягни меню на всю доступну висоту */
  overflow-y: auto;
}

.menuCustom .ant-menu-item {
  color: #fff !important;
}

.menuCustom .ant-menu-item-selected {
  background-color: var(--soft-brown-2) !important;
  color: #4A4A4A !important;
}

.imageWrapper {
  margin-top: 20px;
  text-align: center;
}